@import "tailwindcss";

/* Global colors  */
:root {
  --color-primary-100: #eee3ff;
  --color-primary-600: #8054c7;
  --color-primary-700: #5a3696;
  --color-secondary-600: #63d838;
  --color-primary-gray-100: #6B7280;
}

@theme {
  --color-primary-100: var(--color-primary-100);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-secondary-600: var(--color-secondary-600);
  --color-primary-gray-100: var(--color-primary-gray-100);
}
